services:
  registry:
    image: registry:2
    container_name: registry
    restart: always
    environment:
      - REGISTRY_STORAGE_DELETE_ENABLED=true
      - REGISTRY_HTTP_SECRET=e5d3da398d53873d647d959c90c8e12d6e78754e535c0e14ff22a9fb50194aa4
      - REGISTRY_REDIS_ADDR=redis:6379
      - REGISTRY_REDIS_PASSWORD=your_redis_password
    ports:
      - "5000:5000"
    volumes:
      - registry_data:/var/lib/registry
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: registry-redis
    restart: always
    command: ["redis-server", "--requirepass", "your_redis_password"]
    volumes:
      - redis_data:/data

  registry-manager:
    build: .
    container_name: registry-manager
    restart: always
    ports:
      - "8080:8080"
    environment:
      - REGISTRY_API_URL=http://registry:5000
      - REGISTRY_PUSH_HOST=localhost:5000
      - REQUEST_TIMEOUT_SEC=20
      - MAX_CATALOG_RESULTS=200
      - SYNC_JOB_RETENTION=120
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - registry

volumes:
  registry_data:
  redis_data:
